apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app-example

resources:
  - ../../base

namePrefix: staging-

commonLabels:
  environment: staging

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: app-example
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 2
      - op: replace
        path: /spec/maxReplicas
        value: 5
    target:
      kind: HorizontalPodAutoscaler
      name: app-example
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: app-example.staging.example.com
    target:
      kind: Ingress
      name: app-example

configMapGenerator:
  - name: app-example-config
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=info
