apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8sblockhostnamespace
  annotations:
    description: "Disallows sharing of host PID and IPC namespaces by pod containers."
spec:
  crd:
    spec:
      names:
        kind: K8sBlockHostNamespace
      validation:
        openAPIV3Schema:
          type: object
          properties: {}
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package k8sblockhostnamespace

        violation[{"msg": msg}] {
          input.review.object.spec.hostPID == true
          msg := sprintf("hostPID is not allowed, pod: %v", [input.review.object.metadata.name])
        }

        violation[{"msg": msg}] {
          input.review.object.spec.hostIPC == true
          msg := sprintf("hostIPC is not allowed, pod: %v", [input.review.object.metadata.name])
        }
---
apiVersion: templates.gatekeeper.sh/v1
kind: ConstraintTemplate
metadata:
  name: k8sblockhostnetworkport
  annotations:
    description: "Controls usage of host network and ports."
spec:
  crd:
    spec:
      names:
        kind: K8sBlockHostNetworkPort
      validation:
        openAPIV3Schema:
          type: object
          properties:
            hostNetwork:
              type: boolean
              description: "Allow host network"
            min:
              type: integer
              description: "Minimum allowed host port"
            max:
              type: integer
              description: "Maximum allowed host port"
  targets:
    - target: admission.k8s.gatekeeper.sh
      rego: |
        package k8sblockhostnetworkport

        violation[{"msg": msg}] {
          not input.parameters.hostNetwork
          input.review.object.spec.hostNetwork == true
          msg := sprintf("hostNetwork is not allowed, pod: %v", [input.review.object.metadata.name])
        }

        violation[{"msg": msg}] {
          container := input.review.object.spec.containers[_]
          port := container.ports[_]
          port.hostPort != 0
          not input_hostport_allowed(port.hostPort)
          msg := sprintf("Container <%v> uses hostPort <%v> which is not allowed", [container.name, port.hostPort])
        }

        violation[{"msg": msg}] {
          container := input.review.object.spec.initContainers[_]
          port := container.ports[_]
          port.hostPort != 0
          not input_hostport_allowed(port.hostPort)
          msg := sprintf("InitContainer <%v> uses hostPort <%v> which is not allowed", [container.name, port.hostPort])
        }

        input_hostport_allowed(port) {
          input.parameters.min <= port
          port <= input.parameters.max
        }
