apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base
  - applications/

patches:
  - patch: |-
      - op: replace
        path: /data/url
        value: https://argocd.staging.example.com
    target:
      kind: ConfigMap
      name: argocd-cm
