apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app-example

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: app-example
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 3
    target:
      kind: HorizontalPodAutoscaler
      name: app-example
  - patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: app-example.dev.example.com
    target:
      kind: Ingress
      name: app-example

configMapGenerator:
  - name: app-example-config
    literals:
      - ENVIRONMENT=dev
      - LOG_LEVEL=debug
