apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: platform
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Platform infrastructure components

  sourceRepos:
    - https://github.com/johnpaulnasc/multi-cloud-k8s-platform.git
    - https://charts.jetstack.io
    - https://kubernetes.github.io/ingress-nginx
    - https://prometheus-community.github.io/helm-charts
    - https://grafana.github.io/helm-charts

  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
    - namespace: '*'
      server: '*'

  clusterResourceWhitelist:
    - group: '*'
      kind: '*'

  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'

  orphanedResources:
    warn: true

  roles:
    - name: platform-admin
      description: Full access to platform project
      policies:
        - p, proj:platform:platform-admin, applications, *, platform/*, allow
      groups:
        - platform-admins
